@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/bootstrap")

<header class="masthead">
    <br>
    <br/>
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <img src="~/img/ecommerce.jpg" width="1000" height="500" />
            <h3 class="mx-auto my-0 text-uppercase">E-Commerce</h3>
        </div>
    </div>
</header>
